{% extends "main.html" %}
{% block content_page %}
<div class="mx-auto container bg-slate-100">
    <div class="w-3/4  mx-auto">
        <div>
            <h1>HTML DE BASE</h1>
        </div>
        <div>
            <form action="" method="post">
                <h1>L'intitulé de question n°1</h1>
                <div class="flex bg-slate-300 p-2 my-4">
                   <p class="text-2xl">
                    <input type="radio" name="" id="">
                    <label class="">Reponse n°1</label>
                   </p> 
                </div> 
                <div class="flex bg-slate-300 p-2 my-4">
                    <p class="text-2xl">
                     <input type="radio" name="" id="">
                     <label class="">Reponse n°2</label>
                    </p> 
                 </div> 
                 <div class="flex bg-slate-300 p-2 my-4">
                    <p class="text-2xl">
                     <input type="radio" name="" id="">
                     <label class="">Reponse n°3</label>
                    </p> 
                 </div> 
                 <div class="flex bg-slate-300 p-2  my-4">
                    <p class="text-2xl">
                     <input type="radio" name="" id="">
                     <label class="">Reponse n°4</label>
                    </p> 
                 </div> 
                <h1>L'intitulé de question n°2</h1>
                <div class="flex bg-slate-300 p-2 my-4">
                   <p class="text-2xl">
                    <input type="checkbox" name="" id="">
                    <label class="">Reponse n°1</label>
                   </p> 
                </div>  
                <div class="flex bg-slate-300 p-2 my-4">
                    <p class="text-2xl">
                     <input type="checkbox" name="" id="">
                     <label class="">Reponse n°2</label>
                    </p> 
                 </div>
                 <div class="flex bg-slate-300 p-2 my-4">
                    <p class="text-2xl">
                     <input type="checkbox" name="" id="">
                     <label class="">Reponse n°3</label>
                    </p> 
                 </div>
                 <div class="flex bg-slate-300 p-2 my-4">
                    <p class="text-2xl">
                     <input type="checkbox" name="" id="">
                     <label class="">Reponse n°4</label>
                    </p> 
                 </div> 
            </form>
        </div>
    </div>
</div>
{% endblock content_page %}