{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif">
		<div class="container">
			<section class="">
				{% include 'composants/_bouton.html.twig' with title='submit' %}
					<h1 class="text-5xl">Django + Tailwind</h1>
				{% include 'composants/_bouton.html.twig' with title='supprimer' %}
			</section>
		</div>
	</body>
</html>
