{% extends "main.html" %}
{% block content_page %}

<div class="max-w-md mx-auto my-auto bg-gray-400 rounded-md">
    <!-- header -->
    <div class="header-login bg-blue-950 text-center rounded-md">
        <div class="brandig w-full items-stretch h-14">
            <h1 class="m-auto">
                <a class="text-white text-4xl font-thin" href="#">Login</a>
                <button class="text-white text-4xl font-thin">&rtimes;</button>
            </h1>
        </div>
    </div>
    <!-- body -->
    <div class="content-login w-full">
        <!-- message d'erreur -->
        <div class="mx-2 my-3 ">
            <p class="w-full mx-2 text-red-600 text-xl">
                {% if message %}
                  {{message}}
                {% endif %}
            </p>
        </div>
        <div class="content-start">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <div class="mx-3 my-5">
                        <label class="w-full py-2 font-thin text-3xl" for="">Nom d’utilisateur</label>
                        <input type="text" name="username" class="w-full rounded-md">
                    </div>
                    <div class="mx-3 my-5">
                        <label class="w-full py-2 font-thin text-3xl" for="">Mot de passe</label>
                        <input type="password" name="password" class="w-full rounded-md">
                    </div>
                </div>
                <div class="footer-login mx-auto text-center align-bottom">
                    {% include 'composants/_bouton.html' with title='Connexion' class='btn  bg-blue-900' name='envoyer'%}
                </div>
            </form>
        </div>
    </div>
    <!-- footer -->
    
</div>
{% endblock content_page %}