{% extends "main.html" %}
{% block content_page %}

<div class="w-full m-auto bg-slate-300">
    <div class="header">
        <div class="branding bg-slate-600 h-14">
            <h1 class="text-center text-4xl text-white capitalize">profil d'un utilisateur</h1>
        </div>
    </div>
    <div class="w-full mx-auto">
        <div class="content_start w-full mx-auto">
            <form method="post" enctype="multipart/form-data" class="">
                {% csrf_token %}
                <div class="ml-36">
                    <div class="profil ">
                        {{ user_form.as_p }}
                        {{ profil_form.as_p }}
                    </div>
                </div>
                <div class="footer-login mx-auto text-center align-bottom">
                    {% include 'composants/_bouton.html' with title='Mettre à jour' class='btn  bg-slate-700 hover:bg-slate-500' name='envoyer'%}
                </div>
              </form>
        </div>
    </div>
    <div class="header">
        <div class="branding bg-slate-600 h-1">
        </div>
    </div>
</div>

  
  
{% endblock content_page %}