{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>ProdEduTuto</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 m-0">
	<div class="min-h-full">
		{% include "header&footer/header.html" %}
		<main>
			<div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
				{% block content_page %}
				<!-- On doit afficher le contenu ici -->
				{% endblock content_page %}

				<!-- {% include 'composants/_bouton.html' with title='Modifier' class='btn_mod btn' name='modif' %}

				{% include 'composants/_bouton.html' with title='Supprimer' class='btn_supp btn' name='suppr'%}

				{% include 'composants/_bouton.html' with title='Envoyer' class='btn_envo btn' name='envoyer'%} -->
			</div>
	</div>
	</main>
	</div>

</body>

</html>