{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>ProdEduTuto</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	<script src="{% static 'js/pdf.js' %}"></script>
</head>

<body>
	<div class="min-h-full">
		{% include "header&footer/header.html" %}
		<main>
			<div>
				{% block content_page %}
				<!-- On doit afficher le contenu ici -->
				{% endblock content_page %}

			</div>
			<div class="flex">
				<div class="w-72">
					<!-- Contenu de liste.html -->
					{% block liste_content %}
						<!-- Insérez ici le contenu de liste.html -->
					{% endblock liste_content %}
				</div>
				<div class="w-8/12 border-r-4 py-4" id="detail-content">
					<!-- Contenu de detail.html -->
					{% block detail_content %}
						<!-- Insérez ici le contenu de detail.html -->
					{% endblock detail_content %}
				</div>
				<div class="w-2/12">colonne</div>
			</div>			
		</main>
	</div>
	<script>
		// Fonction pour charger le contenu de détail
		function loadDetailContent(url) {
			fetch(url)
				.then(response => response.text())
				.then(data => {
					document.getElementById('detail-content').innerHTML = data;
				});
		}
	</script>
</body>

</html>